/*COMFORTAA FONTS*/
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa'), url('/font/comfortaa/Comfortaa-Regular.ttf') format('truetype');
    }
    
    @font-face {
    font-family: 'Comfortaa Light';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa Thin'), url('/font/comfortaa/Comfortaa-Light.ttf') format('truetype');
    }
    
    
    @font-face {
    font-family: 'Comfortaa Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa Bold'), url('/font/comfortaa/Comfortaa-Bold.ttf') format('truetype');
    }

    /*POPPINS FONTS */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        src: local('Poppins'), url('/font/poppins/Poppins-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Poppins Bold';
            font-style: normal;
            font-weight: normal;
            src: local('Poppins-Bold'), url('/font/poppins/Poppins-Bold.ttf') format('truetype');
            }
